-----BEGIN CERTIFICATE-----
MIIEgDCCA2igAwIBAgIJANBxNlD841jKMA0GCSqGSIb3DQEBBQUAMIGGMQswCQYD
VQQGEwJTRzESMBAGA1UECBMJbG9jYWxob3N0MRIwEAYDVQQHEwlsb2NhbGhvc3Qx
GTAXBgNVBAoTEE1pY2hlbCBEdXJhbmQgU0ExIDAeBgNVBAsTF0ZvdXJuaSBwYXIg
VEJTIGludGVybmV0MRIwEAYDVQQDEwlsb2NhbGhvc3QwHhcNMTYwNjIwMTI0MzAz
WhcNMTcwNjIwMTI0MzAzWjCBhjELMAkGA1UEBhMCU0cxEjAQBgNVBAgTCWxvY2Fs
aG9zdDESMBAGA1UEBxMJbG9jYWxob3N0MRkwFwYDVQQKExBNaWNoZWwgRHVyYW5k
IFNBMSAwHgYDVQQLExdGb3VybmkgcGFyIFRCUyBpbnRlcm5ldDESMBAGA1UEAxMJ
bG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxGfcTOP3
awWsTzsysXa158qNQjQC0BZ/LqPDecdJKTtvKnikEiYPMcH/HS8GjJ9PEj9GRvkl
aRwBW2Ckgh+SBGUGMEQ4+n68QAAcOsrSkyW2GiysaAPLh8FtY32p+KHuh2FKKLTI
jkCNbGSVR+OhQsdFLNloS1UPfeZNMvejL2aLs/xUSt6NYrnYd+7dPs9v/R0sJt2T
DwPjbZ3MkeB4NjuKeSwWmiusWMruqZ/GhO28gJGkEeLKBMyzhvLZsOOdm3Drs061
GK9ozAnZUX+KBZm2edlh/NBR2s/Rk4eV4yWMmxib1Sd8Al+QkNmKm1yLu57m1y7o
utCpApYk4yhamwIDAQABo4HuMIHrMB0GA1UdDgQWBBQVR2diMBN5FVKnAYWGxN10
KKNDlTCBuwYDVR0jBIGzMIGwgBQVR2diMBN5FVKnAYWGxN10KKNDlaGBjKSBiTCB
hjELMAkGA1UEBhMCU0cxEjAQBgNVBAgTCWxvY2FsaG9zdDESMBAGA1UEBxMJbG9j
YWxob3N0MRkwFwYDVQQKExBNaWNoZWwgRHVyYW5kIFNBMSAwHgYDVQQLExdGb3Vy
bmkgcGFyIFRCUyBpbnRlcm5ldDESMBAGA1UEAxMJbG9jYWxob3N0ggkA0HE2UPzj
WMowDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOCAQEAT30hT2iqUgqB6m+C
DW2m0g+j6ashhfPjw6xcd3LQHW3ZATXbhOQxgoJeJYkOBXVnNqJd1oJub8uPvbKf
/0xqHzRN9jEPdyzrm8S4f+DNQ1v7EhhUyaP+uu+2IXjSGnv1F3ogiP0vS+upTNEg
blnJy/Bc32jj6d9WxVdQOWbi7ZrXKQSvp9MNGGB728L9MpT0KrcNLOTvMWdQHG0Y
yR9XXE8KeP+4aOoT43J4E+CfLnZzmfKfKFAAb2pmDbwOe0IGF46sbo9/J7qc4NAy
Zi8Y/JbR58Fxyzck3gvgQtJMr6jhH0sfd/Xs0yxU+HBZ6LV0DwL0TTrhnB3TYHmB
xmwNmA==
-----END CERTIFICATE-----
